/** @format */

:root {
  --primary-color: #02040f;
  --white: white;
  --tertiary-color: #023e8a;
  --navbar-hover: #aed1e6;
  --navbar-shadow: rgba(50, 50, 93, 0.25);
  --navbar-shad: rgba(0, 0, 0, 0.3);
  --border-color: #777;
  --card-shadow: rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
}
